/*#boards {*/
    /*background-color: green;*/
/*}*/

.table {
    text-align: center;
    vertical-align: center;
    background-color: whitesmoke;
}

.col-11 {
    position: center;
}

td {
    width: 18rem;
}

body {
    background-color: #00B2FF;
    font-family: "Andale Mono";
}

th {
    background-color: #003371;
    color: white;
}

#board_header {
    background-color: #007EC6;
    text-align: left;
    color: white;
    text-shadow: 2px 2px darkslategrey;
    font-size: large;
}

card {
    background-color: white;
}

.container {
    width: available;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px darkslategrey;
    font-size: 4em;
}

.btn {
    border: 2px #003371 solid;
}

.card {
    border: 2px #007EC6 solid;
[class*=p-2] {
  border: 1px solid black;
  width: 10vw;
  background-color: goldenrod;
}

/*Dragula CSS*/

.container > div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

#flex {
  display: flex;
  justify-content: space-between;
}