.table {
    text-align: center;
    vertical-align: center;
    background-color: whitesmoke;
    margin: 0;
}

.col-11 {
    position: center;
}

td {
    width: 18rem;
}

body {
    background-color: #00B2FF;
    font-family: "Andale Mono";
}

th {
    background-color: #003371;
    color: white;
}

#board_header {
    background-color: #007EC6;
    text-align: left;
    color: white;
    text-shadow: 2px 2px darkslategrey;
    font-size: large;
}


.container {
    width: available;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px darkslategrey;
    font-size: 4em;
}

.btn {
    border: 2px #003371 solid;
}

.card {
    border: 2px #007EC6 solid;
}


#flex {
    display: flex;
    justify-content: space-between;
}

.card-body {
    margin: 0;
    padding: 20px;
}

#accordion button {
    float: right;
    margin: 0 5px;
}

#boards {
    padding: 0;
}

input[type=text] {
    border: 2px #007EC6 solid;
}

textarea {
    height: 100%;
    width: 100%;
    border: 2px #007EC6 solid;
}
