<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>

    <script src="{{ url_for('static', filename='js/jquery.js') }}" type=text/javascript defer></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}" type=text/javascript defer></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}" type=text/javascript defer></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
</head>
<body>
<h1>ProMan</h1>
<div class="container">
    <button id="new-board-button"  type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
        New board
    </button>
    <div id="boards" class="col-12">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <tr class="header">
                        <th colspan="4" id="board-header">
                            Board
                            <button type="button" class="btn btn-light" id="new-card">New Card</button>
                        </th>
                    </tr>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        +/-
                    </button>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th scope="col">New</th>
                                <th scope="col">In progress</th>
                                <th scope="col">Testing</th>
                                <th scope="col">Done</th>
                            </tr>
                            <tr id="columns">
                                <td id="new-cards">
                                    <div class="card mb-3" id="card" style="max-width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Title 1</h5>
                                            <p class="card-text">text</p>
                                        </div>
                                    </div>
                                    <div class="card mb-3" id="card" style="max-width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Title 2</h5>
                                            <p class="card-text">text</p>
                                        </div>
                                    </div>
                                </td>
                                <td id="progress">

                                </td>
                                <td id="testing"></td>
                                <td id="done"></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        {#        <table class="table table-bordered">#}
        {#            <tr class="header">#}
        {#                <th colspan="4" id="board_header">#}
        {#                    Board#}
        {#                    <button type="button" class="btn btn-light new_card" id="new_card">New Card</button>#}
        {#                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple#}
        {#                        collapsible#}
        {#                    </button>#}
        {#                </th>#}
        {#            </tr>#}
        {#            <div id="demo" class="collapse">#}
        {#                <p>valami</p>#}
        {#            </div>#}
        {#            <tr>#}
        {#                <th scope="col">New</th>#}
        {#                <th scope="col">In progress</th>#}
        {#                <th scope="col">Testing</th>#}
        {#                <th scope="col">Done</th>#}
        {#            </tr>#}
        {#            <tr id="columns">#}
        {#                <td id="new-cards">#}
        {#                    <div class="card mb-3" id="card" style="max-width: 18rem;">#}
        {#                        <div class="card-body">#}
        {#                            <h5 class="card-title">Title 1</h5>#}
        {#                            <p class="card-text">text</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="card mb-3" id="card" style="max-width: 18rem;">#}
        {#                        <div class="card-body">#}
        {#                            <h5 class="card-title">Title 2</h5>#}
        {#                            <p class="card-text">text</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </td>#}
        {#                <td id="progress">#}
        {##}
        {#                </td>#}
        {#                <td id="testing"></td>#}
        {#                <td id="done"></td>#}
        {#            </tr>#}
        {#        </table>#}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Add title:</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" name="board-title" id="board-title">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="create-board" data-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


